<!DOCTYPE html>
<html lang="en">
<% include partials/template/head.ejs %>
<body class="landing_body">
    <h1 id="landing_header"></h1>
    <div id="sign_up_div">
        <form id='sign_up_form'>
            <h2>Sign Up&nbsp</h2>
            <input type="text" id="name" placeholder="Name" name='name'>
            <input type="password" id="password" placeholder="Password" name='password'>
            <input type="email" id="email" placeholder="email" name='email'>
            <input id='register_user' type="button" value='register'>
        </form>
    </div>
    <div id="sign_in_div">
        <form id='sign_in_form'>
            <h2>Sign In&nbsp</h2>
            <input type="text" id="usr_name" placeholder="Name" name='name'>
            <input type="text" id="usr_password" placeholder="Password" name='password'>
            <input type="button" value='register'>
        </form>
    </div>
    <% include partials/template/scripts.ejs %>
</body>
</html>